// Some helper styling partials
@import 'mixins/grid';
@import '../init/variables';

@function getFontParam($type, $value) {
  @if map-has-key($fonts, $type) {
    $k: map-get($fonts, $type);

    @if map-has-key($k, $value) {
      $v: map-get($k, $value);
      @if (type-of($v) == string) {
        $v: unquote($v);
      }
      @return $v;
    }    
  }
  
  @warn 'Could not find valid value for ' + $value + ' in ' + $type;
  @return false;
}

@mixin set-sizes($size: medium, $important: false) {
  $fontparams: getFontParam(sizes, $size);
  
  @if $important == true {
    $important:  !important;
  } @else {
    $important: null;
  }

  
  $size: map-get($fontparams, size);
  $leading: map-get($fontparams, leading);  
  $multipliers: map-get($fontparams, multipliers);
  
  @include bp(xxs) {
    font-size: $size $important;
    line-height: #{$leading}em $important;
  }
  
  @each $mult-key, $mult-val in $multipliers {
    @include bp($mult-key) {
      font-size: $size*$mult-val $important;
    }
  }
  
  
/*
  @include bp(xl) {
    font-size: $size*$multiplier;
  }
*/
}

@mixin pseudo($display: block, $pos: absolute, $content: ''){
    content: $content;
    display: $display;
    position: $pos;
}

@mixin has-full-pseudo() {
  position: relative;
  &::before {
    @include pseudo();
    width: 100%; height: 100%; top: 0; left: 0;
  }  
}

@function get-col($color, $map: $colors) {
  @if (map-has-key($map, $color)) {
    @return map-get($map, $color)
  } @else {
    @warn "No such color [" + $color + "] in [" + $map + "]";
  }
}

@mixin space($type:margin, $direction:all, $amount:$gutter, $important:0) {
  @if unitless($amount) {
    $amount: $gutter * $amount;
  }
  
  // a bit hamfisted but better than the early very non-DRY version.
  
  @each $localdir in ("left", "right", "top", "bottom") {
    $val: "";
    $do: 0;
    @if $direction == $localdir or $direction ==  "all" {
      $do: 1;
    } @else if $direction == "topbottom" and ($localdir == "top" or $localdir == "bottom") {
      $do: 1;
    } @else if $direction == "leftright" and ($localdir == "left" or $localdir == "right") {
      $do: 1;
    } 
    
    @if ($do == 1) {
      $selector: $type + "-" + $localdir;
      @if $important != 0 { 
        $val: $amount + " !important"; 
      } @else { 
        $val: $amount; 
      }

      #{$selector}: #{$val};
    }  
  }
}

@mixin slant($position: top, $direction: up) {
  position: relative;


  @if $direction == up {
    @if $position == top {
      clip-path: polygon(0 50px, 100% 0, 100% 100%, 0% 100%);
      padding-top: 3vw;    
      @include space(padding,bottom, 1); // match perceived spacing
      
      @include bp(m) {
        clip-path: polygon(0 150px, 100% 0, 100% 100%, 0% 100%);
        @include space(margin, top, 0-$gutter*.5); 
      }
    } @else if $position == both {

      clip-path: polygon(0 50px, 100% 0, 100% calc(100% - 50px), 0% 100%);
      padding-top: 3vw;    
      @include space(padding,bottom, 1); // match perceived spacing
      
      @include bp(m) {
		clip-path: polygon(0 150px, 100% 0, 100% 100%, 0 calc(100% - 250px));
        @include space(margin, top, 0-$gutter*.5); 
        padding-bottom: 5vw;            
      }
	    
	} @else {
		
      clip-path: polygon(0 0, 100% 0, 100% calc(100% - 40px), 0% 100%);
      padding-bottom: 3vw;    
  
      @include bp(m) {
        clip-path: polygon(0 0, 100% 0, 100% calc(100% - 250px), 0% 100%);
        padding-bottom: 5vw;    
      }          
    } 
  } @else {
	  // downward slant
    @if $position == top {
      clip-path: polygon(0 0, 100% 50px, 100% 100%, 0% 100%);
      @include space(padding,top, 4);
      @include space(padding,bottom, 2); // match perceived spacing
      @include bp(m) {
        clip-path: polygon(0 0, 100% 150px, 100% 100%, 0% 100%);
        @include space(margin, top, 0-$gutter); 
      }
    } @else {
      
      // still to do
      clip-path: polygon(0 0, 100% 0, 100% calc(100% - 40px), 0% 100%);
      padding-bottom: 3vw;    
  
      @include bp(m) {
        clip-path: polygon(0 0, 100% 0, 100% calc(100% - 250px), 0% 100%);
        padding-bottom: 5vw;    
      }          
    } 
    
  }
}


@mixin icon($icon, $type: s, $color: inherit, $pos: before) {
  @extend .fa-#{$icon};
  
  @debug "here w/ " + $pos;
  @if $pos == "before" {
    &:before {
      @include fa-icon;
      @extend .fa#{$type};    
      color: $color;
    }
  } @else {
    &:after {
      @include fa-icon;
      @extend .fa#{$type};    
      color: $color;
    }    
  }
}


// Thanks to Hugo Giraudel for his str-replace function (http://www.sassmeister.com/gist/1b4f2da5527830088e4d)
@function str-replace($string, $search, $replace: '') {
  $index: str-index($string, $search);
  @if $index {
    @return str-slice($string, 1, $index - 1) + $replace + str-replace(str-slice($string, $index + str-length($search)), $search, $replace);
  }
  @return $string;
}

$encoding-reference: (
  //('%','%25'),  // Encode "%" first, otherwise the "%" from encoded code would be encoded again (which would be bad)
  ('<','%3C'),
  ('>','%3E'),
  //('"','%22'),  // Replace " with ' because that's shorter than %22 and normally working
  ('"','\''),
  ('#','%23'),
  ('&','%26')
  // Here are a few more characters you could encode
  //(' ','%20'),
  //('!','%21'),
  //('$','%24'),
  //(',','%27'),
  //('(','%28'),
  //(')','%29'),
  //('*','%2A'),
  //('+','%2B'),
  //('"','%2C'),
  //('/','%2F'),
  //(':','%3A'),
  //(';','%3B'),
  //('=','%3D'),
  //('?','%3F'),
  //('@','%40'),
  //('[','%5B'),
  //(']','%5D'),
  //('^','%5E'),
  //('`','%60'),
  //('{','%7B'),
  //('|','%7C'),
  //('}','%7D'),
  //('~','%7E'),
  //(',','%E2%80%9A'),
  //('\\','%5C'),
  //('_','%5F'),
  //('-','%2D'),
  //('.','%2E'),
  // ('\','%5C'),
  // (' ','%7F'),
  // ('`','%E2%82%AC'),
  //('ƒ','%C6%92'),
  //('„','%E2%80%9E'),
  //('…','%E2%80%A6'),
  //('†','%E2%80%A0'),
  //('‡','%E2%80%A1'),
  //('ˆ','%CB%86'),
  //('‰','%E2%80%B0'),
  //('Š','%C5%A0'),
  //('‹','%E2%80%B9'),
  //('Œ','%C5%92'),
  //('','%C5%8D'),
  //('Ž','%C5%BD'),
  //('','%8F'),
  //('','%C2%90'),
  //(','%'E2%80%98'),
  //(','%'E2%80%99'),
  //('“','%E2%80%9C'),
  //('”','%E2%80%9D'),
  //('•','%E2%80%A2'),
  //('–','%E2%80%93'),
  //('—','%E2%80%94'),
  //('˜','%CB%9C'),
  //('™','%E2%84'),
  //('š','%C5%A1'),
  //('›','%E2%80'),
  //('œ','%C5%93'),
  //('','%9D'),
  //('ž','%C5%BE'),
  //('Ÿ','%C5%B8'),
  //(' ','%C2%A0'),
  //('¡','%C2%A1'),
  //('¢','%C2%A2'),
  //('£','%C2%A3'),
  //('¤','%C2%A4'),
  //('¥','%C2%A5'),
  //('¦','%C2%A6'),
  //('§','%C2%A7'),
  //('¨','%C2%A8'),
  //('©','%C2%A9'),
  //('ª','%C2%AA'),
  //('«','%C2%AB'),
  //('¬','%C2%AC'),
  //(','%'C2%AD'),
  //('®','%C2%AE'),
  //('¯','%C2%AF'),
  //('°','%C2%B0'),
  //('±','%C2%B1'),
  //('²','%C2%B2'),
  //('³','%C2%B3'),
  //('´','%C2%B4'),
  //('µ','%C2%B5'),
  //('¶','%C2%B6'),
  //('·','%C2%B7'),
  //('¸','%C2%B8'),
  //('¹','%C2%B9'),
  //('º','%C2%BA'),
  //('»','%C2%BB'),
  //('¼','%C2%BC'),
  //('½','%C2%BD'),
  //('¾','%C2%BE'),
  //('¿','%C2%BF'),
  //('À','%C3%80'),
  //('Á','%C3%81'),
  //('Â','%C3%82'),
  //('Ã','%C3%83'),
  //('Ä','%C3%84'),
  //('Å','%C3%85'),
  //('Æ','%C3%86'),
  //('Ç','%C3%87'),
  //('È','%C3%88'),
  //('É','%C3%89'),
  //('Ê','%C3%8A'),
  //('Ë','%C3%8B'),
  //('Ì','%C3%8C'),
  //('Í','%C3%8D'),
  //('Î','%C3%8E'),
  //('Ï','%C3%8F'),
  //('Ð','%C3%90'),
  //('Ñ','%C3%91'),
  //('Ò','%C3%92'),
  //('Ó','%C3%93'),
  //('Ô','%C3%94'),
  //('Õ','%C3%95'),
  //('Ö','%C3%96'),
  //('×','%C3%97'),
  //('Ø','%C3%98'),
  //('Ù','%C3%99'),
  //('Ú','%C3%9A'),
  //('Û','%C3%9B'),
  //('Ü','%C3%9C'),
  //('Ý','%C3%9D'),
  //('Þ','%C3%9E'),
  //('ß','%C3%9F'),
  //('à','%C3%A0'),
  //('á','%C3%A1'),
  //('â','%C3%A2'),
  //('ã','%C3%A3'),
  //('ä','%C3%A4'),
  //('å','%C3%A5'),
  //('æ','%C3%A6'),
  //('ç','%C3%A7'),
  //('è','%C3%A8'),
  //('é','%C3%A9'),
  //('ê','%C3%AA'),
  //('ë','%C3%AB'),
  //('ì','%C3%AC'),
  //('í','%C3%AD'),
  //('î','%C3%AE'),
  //('ï','%C3%AF'),
  //('ð','%C3%B0'),
  //('ñ','%C3%B1'),
  //('ò','%C3%B2'),
  //('ó','%C3%B3'),
  //('ô','%C3%B4'),
  //('õ','%C3%B5'),
  //('ö','%C3%B6'),
  //('÷','%C3%B7'),
  //('ø','%C3%B8'),
  //('ù','%C3%B9'),
  //('ú','%C3%BA'),
  //('û','%C3%BB'),
  //('ü','%C3%BC'),
  //('ý','%C3%BD'),
  //('þ','%C3%BE'),
  //('ÿ','%C3%BF')
);

@function svg-encode($svg) {
  @each $char, $encoded in $encoding-reference {
    $svg: str-replace($svg, $char, $encoded);
  }
  @return 'data:image/svg+xml,' + $svg;
}

@function pattern-background($color: #222) {    
  @return url(svg-encode("<svg xmlns='http://www.w3.org/2000/svg' xmlns:xlink='http://www.w3.org/1999/xlink' viewBox='0 0 409.1 353.8'><style>.st1{fill:" + $color + "}</style><switch><g><defs><path id='SVGID_1_' d='M0 0h409.1v353.8H0z'/></defs><clipPath id='SVGID_2_'><use xlink:href='#SVGID_1_' overflow='visible'/></clipPath><g clip-path='url(#SVGID_2_)'><path class='st1' d='M414.2-51.2c1.6 2.7 3.1 5.4 4.7 8.2v-30.3c-2.9 5-5.8 10.1-8.7 15.1 1.3 2.4 2.7 4.7 4 7zM-5.1 407.3l-1.2-2.1v18.1c1.7-3 3.5-6 5.2-9.1-1.3-2.3-2.6-4.6-4-6.9zM-6.3 178.9v8.2c1.6-2.7 3.1-5.4 4.7-8.2h-4.7zM101.8 474.2H34.6c-1.3 2.3-2.7 4.7-4 7-9.7 16.8-19.3 33.5-29 50.3H68.6c.2.1.3.2.4.4.1.2.2.3.3.5h66.1c-1.3-2.3-2.7-4.6-4-7-9.9-17.1-19.8-34.1-29.6-51.2zM-5.1 525.4l-1.2-2.1v8.2h4.7c-1.1-2-2.3-4.1-3.5-6.1zM417.7 177.1h1.2v-14.2c-2.7 4.7-5.5 9.5-8.2 14.2h7z'/><path class='st1' d='M3.5 524.5c9.9-17.2 19.9-34.4 29.8-51.6.1-.2.3-.4.6-.4h67.9c1.3-2.3 2.7-4.7 4-7 9.8-17.1 19.7-34.1 29.5-51.2-1.3-2.3-2.7-4.6-4-7-9.7-16.8-19.4-33.5-29-50.3-1.2 2-2.3 4.1-3.5 6.1-9.9 17.2-19.9 34.4-29.8 51.6 0 .1-.1.1-.1.2-.1.1-.2.1-.2.2H.6c-1.3 2.3-2.7 4.7-4 7-.9 1.6-1.8 3.2-2.8 4.8v92.8c2.1 3.6 4.2 7.2 6.3 10.9 1.1-2.1 2.2-4.1 3.4-6.1zM307.4-118.1h67.2c1.3-2.3 2.7-4.7 4-7 9.7-16.8 19.3-33.5 29-50.3h-66.8c-.1 0-.1-.1-.2-.1h-.1c-.1-.1-.2-.1-.2-.2-.1-.2-.2-.3-.3-.5h-66.1c1.3 2.3 2.7 4.6 4 7 9.8 16.9 19.6 34 29.5 51.1zM102.8-118.1H170c1.3-2.3 2.7-4.7 4-7 9.7-16.8 19.3-33.5 29-50.3h-66.8c-.1 0-.1-.1-.2-.1h-.1c-.1-.1-.2-.1-.2-.3-.1-.2-.2-.3-.3-.5H69.2c1.3 2.3 2.7 4.6 4 7 9.9 17 19.8 34.1 29.6 51.2zM3.5-66.1c9.8-17.1 19.7-34.1 29.5-51.2-1.3-2.3-2.7-4.6-4-7-9.6-16.7-19.3-33.4-29-50.2-1.2 2-2.3 4.1-3.5 6.1-.9 1.6-1.8 3.2-2.8 4.8v104.5h5.7c1.4-2.3 2.8-4.6 4.1-7zM-6.3-175.4v8.2c1.6-2.7 3.1-5.4 4.7-8.2h-4.7zM414.2-169.3c1.6 2.7 3.1 5.4 4.7 8.2v-14.2h-8.2c1.2 1.9 2.3 4 3.5 6zM-5.1 171.1l-1.2-2.1v8.2h4.7c-1.1-2.1-2.3-4.1-3.5-6.1zM414.2 185c1.6 2.7 3.1 5.4 4.7 8.2V179h-8.2c1.2 2 2.3 4 3.5 6zM-5.1 53l-1.2-2.1V69c1.7-3 3.5-6 5.2-9.1-1.3-2.3-2.6-4.6-4-6.9zM306.3 474.2h-67.2c-1.3 2.3-2.7 4.7-4 7-9.7 16.8-19.3 33.5-29 50.3H273.1c.2.1.3.2.4.4.1.2.2.3.3.5h66.1c-1.3-2.3-2.7-4.6-4-7-9.9-17.1-19.7-34.1-29.6-51.2zM414.2 303.1c1.6 2.7 3.1 5.4 4.7 8.2V281c-2.9 5-5.8 10.1-8.7 15.1 1.3 2.4 2.7 4.7 4 7zM405.6 422.2c-9.8 17.1-19.7 34.1-29.5 51.2 1.3 2.3 2.7 4.6 4 7 9.7 16.8 19.4 33.5 29 50.3 1.2-2 2.3-4.1 3.5-6.1 2.1-3.6 4.2-7.2 6.3-10.9v-98.5h-9.3c-1.3 2.3-2.6 4.6-4 7zM417.7 531.5h1.2v-14.2c-2.7 4.7-5.5 9.5-8.2 14.2h7z'/><path d='M417.7 531.5h-7c2.7-4.7 5.5-9.5 8.2-14.2v-3.6c-2.1 3.6-4.2 7.2-6.3 10.9-1.2 2-2.3 4.1-3.5 6.1-9.7-16.8-19.4-33.5-29-50.3-1.3-2.3-2.7-4.6-4-7 9.8-17.1 19.7-34.1 29.5-51.2 1.3-2.3 2.7-4.7 4-7h9.3v-1.8H409.6c-9.8-17.1-19.7-34.1-29.5-51.2-1.4-2.5-2.9-5-4.3-7.4-.1-.2-.2-.3-.4-.4h-67c9.7-16.8 19.3-33.5 29-50.3 1.3-2.3 2.7-4.7 4-7h67.2c3.4 5.9 6.9 11.9 10.3 17.8v-3.6c-1.6-2.7-3.1-5.4-4.7-8.2-1.3-2.3-2.7-4.6-4-7 2.9-5 5.8-10.1 8.7-15.1v-3.6c-2.1 3.6-4.2 7.2-6.3 10.9-1.3 2.3-2.7 4.7-4 7h-68s-.1 0-.1.1c-.1 0-.1 0-.2.1l-.2.2v.1c-9.9 17.2-19.9 34.4-29.8 51.6-1.2 2-2.3 4.1-3.5 6.1-9.7-16.8-19.4-33.5-29-50.3-1.3-2.3-2.7-4.6-4-7 9.8-17.1 19.7-34.1 29.5-51.2 1.3-2.3 2.7-4.7 4-7h68.1c.1 0 .2-.1.2-.2s.1-.1.1-.2c9.9-17.2 19.9-34.4 29.8-51.6 1.2-2 2.3-4.1 3.5-6.1 3.3 5.6 6.5 11.3 9.8 16.9v-3.6c-1.6-2.7-3.1-5.4-4.7-8.2-1.2-2-2.3-4-3.5-6.1h8.2v-1.8h-8.2c2.7-4.7 5.5-9.5 8.2-14.2v-3.6c-2.1 3.6-4.2 7.2-6.3 10.9-1.2 2-2.3 4.1-3.5 6.1-9.7-16.8-19.4-33.5-29-50.3-1.3-2.3-2.7-4.6-4-7 9.8-17.1 19.7-34.1 29.5-51.2 1.3-2.3 2.7-4.7 4-7h9.3V59H409.5c-9.7-17-19.5-34.1-29.4-51.1-1.4-2.5-2.9-5-4.3-7.4-.1-.2-.2-.3-.4-.4h-67c9.7-16.8 19.3-33.5 29-50.3 1.3-2.3 2.7-4.7 4-7h67.2c3.4 5.9 6.9 11.9 10.3 17.8V-43c-1.6-2.7-3.1-5.4-4.7-8.2-1.3-2.3-2.7-4.6-4-7 2.9-5 5.8-10.1 8.7-15.1v-3.6c-2.1 3.6-4.2 7.2-6.3 10.9-1.3 2.3-2.7 4.7-4 7h-68s-.1 0-.1.1c-.1 0-.1 0-.2.1-.1 0-.1.1-.2.2 0 0-.1 0-.1.1-9.9 17.2-19.9 34.4-29.8 51.6-1.2 2-2.3 4.1-3.5 6.1-9.7-16.8-19.4-33.5-29-50.3-1.3-2.3-2.7-4.6-4-7 9.8-17.1 19.7-34.1 29.5-51.2 1.3-2.3 2.7-4.7 4-7h68.1c.1 0 .2-.1.2-.2.1-.1.1-.1.1-.2 9.9-17.2 19.9-34.4 29.8-51.6 1.2-2 2.3-4.1 3.5-6.1 3.3 5.6 6.5 11.3 9.8 16.9v-3.6c-1.6-2.7-3.1-5.4-4.7-8.2-1.2-2-2.3-4-3.5-6.1h8.2v-.9H339.9c.1.2.2.3.3.5.1.1.1.2.2.2h.1c.1 0 .1.1.2.1H407.5c-9.7 16.8-19.3 33.5-29 50.3-1.3 2.3-2.7 4.7-4 7h-67.2c-9.8-17.1-19.7-34.1-29.5-51.2-1.3-2.3-2.7-4.6-4-7H135.6c.1.2.2.3.3.5.1.1.1.2.2.3h.1c.1 0 .1.1.2.1H203.2c-9.7 16.8-19.3 33.5-29 50.3-1.3 2.3-2.7 4.7-4 7H103c-9.8-17.1-19.7-34.1-29.5-51.2-1.3-2.3-2.7-4.6-4-7H-6.2v.9h4.7c-1.6 2.7-3.1 5.4-4.7 8.2v3.6c.9-1.6 1.8-3.2 2.8-4.8 1.2-2 2.3-4.1 3.5-6.1 9.7 16.8 19.4 33.5 29 50.3 1.3 2.3 2.7 4.6 4 7-9.8 17.1-19.7 34.1-29.5 51.2-1.3 2.3-2.7 4.7-4 7h-5.7v1.8h5.7C9.3-40.2 19.2-23.2 29-6.1c1.4 2.5 2.9 5 4.3 7.4.1.1.1.2.2.2h.1c.1 0 .1.1.2.1h66.9c-9.7 16.8-19.3 33.5-29 50.3-1.3 2.3-2.7 4.7-4 7-19.7.1-39.4.1-59.1.1H.5c-2.3-3.9-4.5-7.8-6.8-11.8v3.6l1.2 2.1c1.3 2.3 2.7 4.6 4 7-1.7 3-3.5 6-5.2 9.1v3.6c.9-1.6 1.8-3.2 2.8-4.8 1.3-2.3 2.7-4.7 4-7h68.1c.1 0 .2-.1.2-.2s.1-.1.1-.2C78.9 43.2 88.8 26 98.8 8.8c1.2-2 2.3-4.1 3.5-6.1 9.7 16.8 19.4 33.5 29 50.3 1.3 2.3 2.7 4.6 4 7-9.8 17.1-19.7 34.1-29.5 51.2-1.3 2.3-2.7 4.7-4 7H33.9c-.2 0-.4.2-.5.4-9.9 17.2-19.9 34.4-29.8 51.6-1.2 2-2.3 4.1-3.5 6.1-2.1-3.6-4.2-7.2-6.3-10.9v3.6l1.2 2.1c1.2 2 2.3 4 3.5 6.1h-4.7v1.8h4.7c-1.6 2.7-3.1 5.4-4.7 8.2v3.6c.9-1.6 1.8-3.2 2.8-4.8 1.2-2 2.3-4.1 3.5-6.1 9.7 16.8 19.4 33.5 29 50.3 1.3 2.3 2.7 4.6 4 7-9.8 17.1-19.7 34.1-29.5 51.2-1.3 2.3-2.7 4.7-4 7h-5.7v1.8h5.7c9.8 17.1 19.7 34.1 29.5 51.2 1.4 2.5 2.9 5 4.3 7.4.1.1.1.2.2.2h.1c.1 0 .1.1.2.1h66.9c-9.7 16.8-19.3 33.5-29 50.3-1.3 2.3-2.7 4.7-4 7H.6c-2.3-3.9-4.5-7.8-6.8-11.8v3.6l1.2 2.1c1.3 2.3 2.7 4.6 4 7-1.7 3-3.5 6-5.2 9.1v3.6c.9-1.6 1.8-3.2 2.8-4.8 1.3-2.3 2.7-4.7 4-7h68.1c.1 0 .2-.1.2-.2.1-.1.1-.1.1-.2 9.9-17.2 19.9-34.4 29.8-51.6 1.2-2 2.3-4.1 3.5-6.1 9.7 16.8 19.4 33.5 29 50.3 1.3 2.3 2.7 4.6 4 7-9.8 17.1-19.7 34.1-29.5 51.2-1.3 2.3-2.7 4.7-4 7H33.9c-.2 0-.4.2-.6.4-9.9 17.2-19.9 34.4-29.8 51.6-1.2 2-2.3 4.1-3.5 6.1-2.1-3.6-4.2-7.2-6.3-10.9v3.6l1.2 2.1c1.2 2 2.3 4 3.5 6.1h-4.7v.9h75.4c-.1-.2-.2-.3-.3-.5-.1-.2-.2-.3-.4-.4h-67c9.7-16.8 19.3-33.5 29-50.3 1.3-2.3 2.7-4.7 4-7h67.2c9.8 17.1 19.7 34.1 29.5 51.2 1.3 2.3 2.7 4.6 4 7h138.4c-.1-.2-.2-.3-.3-.5-.1-.2-.2-.3-.4-.4h-67c9.7-16.8 19.3-33.5 29-50.3 1.3-2.3 2.7-4.7 4-7H306c9.8 17.1 19.7 34.1 29.5 51.2 1.3 2.3 2.7 4.6 4 7H418.5v-.9c0-.1-.4-.1-.8-.1zM276.3 288.3c-1.4 2.5-2.9 5-4.3 7.4-.1.2-.1.3-.1.4 0 .1 0 .3.1.5 9.9 17.2 19.9 34.4 29.8 51.6 1.2 2 2.3 4 3.5 6.1h-66.1c-9.8-17.1-19.7-34.1-29.5-51.2-1.3-2.3-2.7-4.6-4-7 9.8-17.1 19.7-34.1 29.5-51.2 1.4-2.5 2.9-5 4.3-7.4.1-.2.1-.3.1-.4 0-.1 0-.3-.1-.5-9.9-17.2-19.9-34.4-29.8-51.6-1.2-2-2.3-4-3.5-6.1h66.1c9.8 17.1 19.7 34.1 29.5 51.2 1.3 2.3 2.7 4.6 4 7-9.8 17.1-19.7 34.1-29.5 51.2zm102.3-59.1c-1.3 2.3-2.7 4.7-4 7h-67.2c-9.8-17.1-19.7-34.1-29.5-51.2-1.4-2.5-2.9-5-4.3-7.4-.1-.2-.2-.3-.4-.4h-67c9.7-16.8 19.3-33.5 29-50.3 1.3-2.3 2.7-4.7 4-7h67.2c9.8 17.1 19.7 34.1 29.5 51.2 1.4 2.5 2.9 5 4.3 7.4.1.1.1.2.2.3h.1c.1 0 .1.1.2.1H407.5c-9.6 16.8-19.3 33.6-28.9 50.3zM366.5 1.8h8.1c9.8 17.1 19.7 34.1 29.5 51.2 1.3 2.3 2.7 4.6 4 7-9.8 17.1-19.7 34.1-29.5 51.2-1.4 2.5-2.9 5-4.3 7.4-.1.2-.1.3-.1.4 0 .1 0 .3.1.5 9.9 17.2 19.9 34.4 29.8 51.6 1.2 2 2.3 4 3.5 6.1h-66.1c-9.8-17.1-19.7-34.1-29.5-51.2-1.3-2.3-2.7-4.6-4-7 9.8-17.1 19.7-34.1 29.5-51.2 1.4-2.5 2.9-5 4.3-7.4.1-.2.1-.3.1-.4 0-.1 0-.3-.1-.5-9.9-17.2-19.9-34.4-29.8-51.6-1.2-2-2.3-4-3.5-6.1h58zM335.9 53c1.3 2.3 2.7 4.6 4 7-9.8 17.1-19.7 34.1-29.5 51.2-1.3 2.3-2.7 4.7-4 7h-68-.1s-.1 0-.1.1h-.1c-.1.1-.2.1-.2.2-9.9 17.2-19.9 34.4-29.8 51.6-1.2 2-2.3 4.1-3.5 6.1-9.7-16.8-19.4-33.5-29-50.3-1.3-2.3-2.7-4.6-4-7 9.8-17.1 19.7-34.1 29.5-51.2 1.3-2.3 2.7-4.7 4-7h68.1c.1 0 .2-.1.2-.2s.1-.1.1-.2c9.9-17.2 19.9-34.4 29.8-51.6 1.2-2 2.3-4.1 3.5-6.1L335.9 53zm-71.7-228.4h8.1c9.8 17.1 19.7 34.1 29.5 51.2 1.3 2.3 2.7 4.6 4 7-9.8 17.1-19.7 34.1-29.5 51.2-1.4 2.5-2.9 5-4.3 7.4-.1.2-.1.3-.1.4 0 .1 0 .3.1.5 9.9 17.2 19.9 34.4 29.8 51.6 1.2 2 2.3 4 3.5 6.1h-66.1c-9.8-17.1-19.7-34.1-29.5-51.2-1.3-2.3-2.7-4.6-4-7 9.8-17.1 19.7-34.1 29.5-51.2 1.4-2.5 2.9-5 4.3-7.4.1-.2.1-.3.1-.4 0-.1 0-.3-.1-.5-9.9-17.2-19.9-34.4-29.8-51.6-1.2-2-2.3-4-3.5-6.1h58zM42.7 0h-8.1C24.8-17.1 14.9-34.1 5.1-51.2c-1.3-2.3-2.7-4.6-4-7 9.8-17.1 19.7-34.1 29.5-51.2 1.4-2.5 2.9-5 4.3-7.4.1-.2.1-.3.1-.5 0-.1 0-.3-.1-.4C25-134.9 15-152.1 5.1-169.3c-1.2-2-2.3-4-3.5-6.1h66.1c9.8 17.1 19.7 34.1 29.5 51.2 1.3 2.3 2.7 4.6 4 7-9.8 17.1-19.7 34.1-29.5 51.2-1.4 2.5-2.9 5-4.3 7.4-.1.2-.1.3-.1.4 0 .1 0 .3.1.5 9.9 17.2 19.9 34.4 29.8 51.6 1.2 2 2.3 4 3.5 6.1h-58zm59.6-.9c-9.7-16.8-19.4-33.5-29-50.3-1.3-2.3-2.7-4.6-4-7 9.8-17.1 19.7-34.1 29.5-51.2 1.3-2.3 2.7-4.7 4-7h68.1c.1 0 .2-.1.2-.2.1-.1.1-.1.1-.2 9.9-17.2 19.9-34.4 29.8-51.6 1.2-2 2.3-4.1 3.5-6.1 9.7 16.8 19.4 33.5 29 50.3 1.3 2.3 2.7 4.6 4 7-9.8 17.1-19.7 34.1-29.5 51.2-1.3 2.3-2.7 4.7-4 7h-68s-.1 0-.1.1c-.1 0-.1 0-.2.1l-.2.2-.1.1c-9.9 17.2-19.9 34.4-29.8 51.6-1 1.9-2.1 3.9-3.3 6zm30.6-49.4c1.3-2.3 2.7-4.7 4-7h67.2c9.8 17.1 19.7 34.1 29.5 51.2 1.4 2.5 2.9 5 4.3 7.4.1.2.3.3.4.4h67c-9.7 16.8-19.3 33.5-29 50.3-1.3 2.3-2.7 4.7-4 7h-67.2c-9.8-17.1-19.7-34.1-29.5-51.2-1.4-2.5-2.9-5-4.3-7.4-.1-.2-.2-.3-.4-.4h-67c9.6-16.8 19.3-33.5 29-50.3zm0 118.1c1.4-2.5 2.9-5 4.3-7.4.1-.2.1-.3.1-.5 0-.1 0-.3-.1-.4-9.9-17.2-19.9-34.4-29.8-51.6-1.2-2-2.3-4-3.5-6.1H170c9.8 17.1 19.7 34.1 29.5 51.2 1.3 2.3 2.7 4.6 4 7-9.8 17-19.7 34-29.5 51.1-1.4 2.5-2.9 5-4.3 7.4-.1.2-.1.3-.1.4 0 .1 0 .3.1.5 9.9 17.2 19.9 34.4 29.8 51.6 1.2 2 2.3 4 3.5 6.1h-66.1c-9.8-17.1-19.7-34.1-29.5-51.2-1.3-2.3-2.7-4.6-4-7 9.8-17 19.6-34 29.5-51.1zM30.6 126.9c1.3-2.3 2.7-4.7 4-7h67.2c9.8 17.1 19.7 34.1 29.5 51.2 1.4 2.5 2.9 5 4.3 7.4.1.1.1.2.2.3h.1c.1 0 .1.1.2.1H202.9c-9.7 16.8-19.3 33.5-29 50.3-1.3 2.3-2.7 4.7-4 7h-67.2C93 219.1 83.1 202.1 73.3 185c-1.4-2.5-2.9-5-4.3-7.4-.1-.2-.2-.3-.4-.4h-67c9.6-16.8 19.3-33.6 29-50.3zm12.1 227.4h-8.1c-9.8-17.1-19.7-34.1-29.5-51.2-1.3-2.3-2.7-4.6-4-7 9.8-17.1 19.7-34.1 29.5-51.2 1.4-2.5 2.9-5 4.3-7.4.1-.2.1-.3.1-.5 0-.1 0-.3-.1-.4-10-17.2-19.9-34.4-29.8-51.6-1.2-2-2.3-4-3.5-6.1h66.1c9.8 17.1 19.7 34.1 29.5 51.2 1.3 2.3 2.7 4.6 4 7-9.8 17.1-19.7 34.1-29.5 51.2-1.4 2.5-2.9 5-4.3 7.4-.1.2-.1.3-.1.4 0 .1 0 .3.1.5 9.9 17.2 19.9 34.4 29.8 51.6 1.2 2 2.3 4 3.5 6.1h-58zm59.6-.9c-9.7-16.8-19.4-33.5-29-50.3-1.3-2.3-2.7-4.6-4-7C79.1 279 89 262 98.8 244.9c1.3-2.3 2.7-4.7 4-7h68.1c.1 0 .2-.1.2-.2.1-.1.1-.1.1-.2 9.9-17.2 19.9-34.4 29.8-51.6 1.2-2 2.3-4.1 3.5-6.1 9.7 16.8 19.4 33.5 29 50.3 1.3 2.3 2.7 4.6 4 7-9.8 17.1-19.7 34.1-29.5 51.2-1.3 2.3-2.7 4.7-4 7h-68s-.1 0-.1.1c-.1 0-.1 0-.2.1l-.2.2c-9.9 17.2-19.9 34.4-29.8 51.6-1.1 2.1-2.2 4.1-3.4 6.1zm30.6-49.4c1.3-2.3 2.7-4.7 4-7h67.2c9.8 17.1 19.7 34.1 29.5 51.2 1.4 2.5 2.9 5 4.3 7.4.1.2.3.3.4.4h67c-9.7 16.8-19.3 33.5-29 50.3-1.3 2.3-2.7 4.7-4 7h-67.2c-9.8-17.1-19.7-34.1-29.5-51.2-1.4-2.5-2.9-5-4.3-7.4-.1-.2-.2-.3-.4-.4h-67c9.6-16.7 19.3-33.5 29-50.3zM145 531.5h-8.1c-9.8-17.1-19.7-34.1-29.5-51.2-1.3-2.3-2.7-4.6-4-7 9.8-17.1 19.7-34.1 29.5-51.2 1.4-2.5 2.9-5 4.3-7.4.1-.2.1-.3.1-.5 0-.1 0-.3-.1-.4-9.9-17.2-19.9-34.4-29.8-51.6-1.2-2-2.3-4-3.5-6.1H170c9.8 17.1 19.7 34.1 29.5 51.2 1.3 2.3 2.7 4.6 4 7-9.8 17.1-19.7 34.1-29.5 51.2-1.4 2.5-2.9 5-4.3 7.4-.1.2-.1.3-.1.4 0 .1 0 .3.1.5 9.9 17.2 19.9 34.4 29.8 51.6 1.2 2 2.3 4 3.5 6.1h-58zm161.3-59.1h-67.9-.1s-.1 0-.1.1l-.3.3c-9.9 17.2-19.9 34.4-29.8 51.6-1.2 2-2.3 4.1-3.5 6.1-9.7-16.8-19.4-33.5-29-50.3-1.3-2.3-2.7-4.6-4-7 9.8-17.1 19.7-34.1 29.5-51.2 1.3-2.3 2.7-4.7 4-7h68.1c.1 0 .2-.1.2-.2.1-.1.1-.1.1-.2 9.9-17.2 19.9-34.4 29.8-51.6 1.2-2 2.3-4.1 3.5-6.1 9.7 16.8 19.4 33.5 29 50.3 1.3 2.3 2.7 4.6 4 7-9.8 17.1-19.7 34.1-29.5 51.2-1.3 2.4-2.6 4.7-4 7zm43.2 59.1h-8.1c-9.8-17.1-19.7-34.1-29.5-51.2-1.3-2.3-2.7-4.6-4-7 9.8-17.1 19.7-34.1 29.5-51.2 1.4-2.5 2.9-5 4.3-7.4.1-.2.1-.3.1-.4 0-.1 0-.3-.1-.5-9.9-17.2-19.9-34.4-29.8-51.6-1.2-2-2.3-4-3.5-6.1h66.1c9.8 17.1 19.7 34.1 29.5 51.2 1.3 2.3 2.7 4.6 4 7-9.8 17.1-19.7 34.1-29.5 51.2-1.4 2.5-2.9 5-4.3 7.4-.1.2-.1.3-.1.4 0 .1 0 .3.1.5 9.9 17.2 19.9 34.4 29.8 51.6 1.2 2 2.3 4 3.5 6.1h-58z' fill='" + $color + "'/></g></g></switch></svg>"));
}


